---
title: Orthop채dische Praxis Eberhard
page: home
---

.row
  .col-xs-2
    = image_tag 'images/marc.jpg', class: 'img-marc'
  .col-xs-10
    .praxis-title
      Orthop채dische Praxis
    .praxis-subtitle
      Marc Eberhard
    .arzt-fuer
      Facharzt f체r Orthop채die &amp; Unfallchirurgie,
      Chirurgie, Sportmedizin, Notfallmedizin, Manuelle Medizin / Chirotherapie
    .praxis-address
      Europaplatz 8 - 53721 Siegburg - Telefon: 02241 / 63 55 8 - Fax: 02241 / 59 04 08

- page = current_page.data["page"]

.row
  .col-xs-2.praxis-links
    .navbar-link.praxis-link= link_to "Startseite", "/", class: page == "home" ? "active" : ""
    .navbar-link.praxis-link= link_to "Leistungen", "leistungen", class: page == "leistungen" ? "active" : ""
    .navbar-link.praxis-link= link_to "Anfahrt", "anfahrt", class: page == "anfahrt" ? "active" : ""
    .navbar-link.praxis-link= link_to "Fotos", "fotos", class: page == "fotos" ? "active" : ""
    .praxis-link

  .col-xs-10.img-praxis
    = image_tag "images/praxis_aussen.png", class: 'img-praxis-aussen'
